apiVersion: apps/v1
kind: Deployment
metadata:
  name: cafeweb
spec:
  replicas: {{ .Values.replicas.web }}

  selector:
    matchLabels:
      app: cafeapp
      tier: frontend
  template:
    metadata:
      labels:
        app: cafeapp
        tier: frontend
    spec:
      volumes:
      - name: app-config-volume
        configMap:
          name: app-config

      containers:
      - name: cafeweb
        image: {{ .Values.image.web }}
        volumeMounts:
        - name: app-config-volume
          mountPath: /var/www/html/getAppParameters.php
          subPath: getAppParameters.php
        ports:
        - containerPort: 80
