apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-cafeweb-config
  labels:
    app: cafeapp
data:
  getAppParameters.php: |
    <?php
    $showServerInfo = "{{ .Values.config.showServerInfo }}";
    $timeZone = "{{ .Values.config.timeZone }}";
    $currency = "{{ .Values.config.currency }}";

    // Pull correct DB host from Kubernetes environment variables
    $db_url = getenv('MYSQL_HOST');
    $db_name = getenv('MYSQL_DATABASE');
    $db_user = getenv('MYSQL_USER');
    $db_password = getenv('MYSQL_ROOT_PASSWORD');
    ?>
